body {
  font-family: Arial;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

input, select, button {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
  font-size: 16px;
}

button {
  background: black;
  color: white;
  cursor: pointer;
}
